.footer {
    font-family: "Roboto", sans-serif;
    padding: 5rem 10rem;
    background-color: #2c2c2c;
    color: #fff;

    @include respond(bp-768) {
        padding: 5rem;
    }
    @include respond(bp-500) {
        padding: 1.5rem;
    }
    hr {
        margin: 5rem 0;
        color: #fff;
        opacity: 0.3;

        &:last-child {
            display: none;
            @include respond(bp-500) {
                display: block;
            }
        }

        @include respond(bp-500) {
            margin: 2.5rem 0;
        }
    }

    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5rem;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        @include respond(bp-1100) {
            flex-direction: column;
            align-items: flex-start;
            gap: 5rem;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        &--img {
            display: flex;
            align-items: center;
            gap: 1.4rem;
            img {
                height: 5rem;
                width: 5rem;
            }
            p {
                color: #fff;
                font-size: 3rem;
                font-weight: 600;
            }
        }
        &--desc {
            line-height: 1.5;
            font-size: 1.6rem;
            font-weight: 300;
        }
        &--box {
            display: grid;
            grid-template-columns: repeat(3, min-content);
            grid-template-rows: repeat(4, min-content);
            row-gap: 1.2rem;
            column-gap: 10rem;
            width: 100%;
            justify-content: end;
            align-content: center;

            @include respond(bp-1100) {
                justify-content: start;
            }
            @include respond(bp-650) {
                column-gap: 5rem;
            }
            @include respond(bp-500) {
                column-gap: 0;
                justify-content: space-between;
            }
            &-item {
                p {
                    cursor: pointer;
                    white-space: nowrap;
                    font-size: 1.6rem;
                    font-weight: 300;
                }
            }
        }
    }
    &__bottom {
        align-self: stretch;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond(bp-650) {
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
        }
        &--socmed {
            display: flex;
            gap: 1.4rem;
            &-box {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
                outline: none;
                height: 4rem;
                width: 4rem;
                color: #2c2c2c;
                background-color: #fff;
                border-radius: 100%;
                ion-icon {
                    font-size: 2.5rem;
                }
            }
        }

        &--copyright {
            font-size: 1.6rem;
            font-weight: 200;
            opacity: 0.5;
            text-align: end;

            @include respond(bp-650) {
                text-align: start;
            }
        }
    }
}
