.sidebar {
    position: sticky;
    top: 0;
    height: 5rem;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: end;
    backdrop-filter: blur(16px);
    padding: 0 10rem;

    @include respond(bp-768) {
        padding: 0 5rem;
    }
    @include respond(phone) {
        padding: 0 1.5rem;
    }
    &__logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        @include respond(phone) {
            flex: 1;
        }
        &-img {
            width: 3rem;
            height: 3rem;
        }
        &-text {
            font-size: 2.4rem;
            font-weight: 600;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: end;
        flex: 1;
        gap: 3rem;

        @include respond(phone) {
            display: none;
        }

        &--link {
            font-size: 1.6rem;
            font-weight: 600;
            color: #2c2c22;
            font-family: "Inter", sans-serif;
            text-decoration: underline;

            & a:link {
                color: #2c2c22;
            }
        }
    }
    &__btn {
        display: none;
        font-size: 4rem;
        color: #2c2c22;
        cursor: pointer;
        @include respond(phone) {
            display: flex;
            align-items: center;
        }
    }
}

.navbar {
    transition: all.3s;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2c2c22;
    color: #fff;
    display: none;
    flex-direction: column;
    transform: translate(0, -200%);
    @include respond(phone) {
        display: flex;
    }

    &-text {
    }

    &__info {
        display: flex;
        align-items: center;

        gap: 1rem;
        padding: 2rem 2rem 0 2rem;

        &--img {
            width: 3rem;
            height: 3rem;
        }
        &--title {
            font-size: 2.4rem;
            font-weight: 600;
        }
        &--btn {
            flex: 1;
            display: flex;
            justify-content: end;
            font-size: 3rem;
            cursor: pointer;
            ion-icon {
            }
        }
    }
    &__list {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 4rem 2rem;
        flex-direction: column;

        &--link {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: #fff;
            font-size: 2rem;
            font-weight: 300;
            align-self: flex-start;
        }
    }
    &__btn {
        padding: 0 2rem 2rem 2rem;
        button {
            cursor: pointer;
            outline: none;
            font-size: 2rem;

            padding: 1rem 3rem;
            border: solid 1px #fff;
            border-radius: 3rem;
            align-self: flex-start;
            background-color: #2c2c22;
            color: #fff;
        }
    }
}

.show-navbar {
    transform: translate(0);
}
