.home {
    display: flex;
    align-items: center;
    gap: 10rem;
    padding: 5rem 10rem;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;

    @include respond(bp-1100) {
        flex-direction: column;
    }
    @include respond(bp-768) {
        padding: 5rem;
    }
    @include respond(bp-500) {
        padding: 5rem 1.5rem;
    }
    &__hero {
        &--title {
            display: flex;
            flex-direction: column;
            @include respond(bp-1100) {
                align-items: center;
                white-space: nowrap;
                br {
                    display: none;
                }
            }
            &-text {
                line-height: 1;

                &:first-child {
                    margin-bottom: 1rem;
                    font-weight: 500;
                    font-size: 3.2rem;
                    text-decoration: underline;

                    @include respond(bp-500) {
                        font-size: 2.4rem;
                    }
                }
                &:last-child {
                    font-size: 10rem;
                    font-weight: 900;
                    @include respond(bp-768) {
                        font-size: 7rem;
                    }
                    @include respond(bp-500) {
                        font-size: 5rem;
                    }
                }
            }
        }

        &--desc {
            margin-top: 1rem;
            color: #6b6868;
            &-text {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.5;

                @include respond(bp-1100) {
                    text-align: center;
                }
                @include respond(bp-500) {
                    font-size: 1.6rem;
                }
            }
        }

        &--btn {
            display: flex;
            justify-content: start;
            gap: 2rem;
            align-items: center;
            margin-top: 5rem;

            @include respond(bp-1100) {
                justify-content: center;
            }
            button {
                padding: 1.2rem 2rem;
                font-size: 2rem;
                border: solid 2px #2c2c2c;
                font-weight: 500;
                cursor: pointer;
            }

            &-1 {
                outline: none;
                background: none;
            }
            &-2 {
                background: #2c2c2c;
                border: solid 1px transparent !important;
                outline: none;
                color: #fff;
            }
        }
    }
    &__right {
        @include respond(bp-500) {
            padding: 2rem;
        }
        &--img {
            width: 100%;
        }
    }
}
