.home {
    display: flex;
    align-items: center;
    gap: 10rem;

    padding: 5rem 10rem;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    &__hero {
        &--title {
            font-size: 8rem;
            font-weight: 900;

            &-text {
                line-height: 1;
                &:first-child {
                    img {
                        height: 6rem;
                    }
                }
                &:last-child {
                    white-space: nowrap;
                }
            }
        }

        &--desc {
            margin-top: 1rem;
            color: #6b6868;
            &-text {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.5;
            }
        }

        &--btn {
            display: flex;
            justify-content: start;
            gap: 2rem;
            align-items: center;
            margin-top: 10rem;
            button {
                padding: 1.2rem 2rem;
                font-size: 2rem;
                border: solid 2px #2c2c2c;
                font-weight: 500;
                cursor: pointer;
            }

            &-1 {
                outline: none;
                background: none;
            }
            &-2 {
                background: #2c2c2c;
                border: solid 1px transparent !important;
                outline: none;
                color: #fff;
            }
        }
    }
    &__rigth {
        &--img {
        }
    }
}
